((*- extends 'latex/index.tex.j2' -*))

((*- block definitions -*))
    ((* super() *))

    % nbconvert/pandoc may emit \LTcaptype{none} for uncaptained tables.
    % Define the corresponding counter so longtable works with TinyTeX.
    \makeatletter
    \@ifundefined{c@none}{\newcounter{none}}{}
    \makeatother
((*- endblock definitions -*))
